<div class='listing--show--parent'>
  <div class="container p-0">
        <h1 class="card--title--show"><strong>Details of <%= @listing.title %></strong></h1>
            <div class="d-flex justify-content-between">
                  <% if @reviews.present? %>
                  <p> <%= @reviews.first.rating %> <i class="fa-solid fa-star"></i>  Reviews: <%=@reviews.count %></p>
                  <% end %>
            </div>
                    <div class="d-flex justify-content-between">
                          <p style="color: #2B3467"> <%= @listing.city %>, Distance to campus :: <%= @listing.distance.round(2)%> km </p>
                          <p>Average Rating: <%='★' * @listing.avg_rating %></p>
                    </div>
    <div class="p-0 m-3">
      <div class="row">
        <div class="col-8 m-0 p-0">
                <div class="grid-image">
                    <%= render "shared/grid", listing: @listing %>
                </div>
        </div>
          <div class="col-4 m-0 p-0">
              <div style="width: 100%; height: 400px;  border-radius: 12px"
                    data-controller="map"
                    data-map-markers-value="<%= @markers.to_json %>"
                    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
              </div>
          </div>
      </div>
    </div>


    <div class="d-flex justify-content-between p-0 m-0">
          <div class="container-tablet" style="width: 40%; margin-top: 3px">
                <div class="p-2" style="border:1px solid #2B3467; max-height: 300px; overflow:scroll; border-radius: 12px">
                      <div class="info-details">
                            <h3 class="card--title">Property Details</h3>
                            <p style="color: #2B3467"><i class="fa-solid fa-children"></i> <%= (@listing.nr_of_rooms * 2) %> guests | <i class="fa-solid fa-people-roof" style="color: #2B3467"></i> <%=@listing.nr_of_rooms %> bedrooms | <i class="fa-solid fa-bed" style="color: #2B3467"></i> <%= @listing.nr_of_rooms %> beds | <i class="fa-solid fa-bath" style="color: #2B3467"></i> <%= (@listing.nr_of_rooms / 2 + 1) %> baths</p>
                            <p><%= @listing.description %></p>
                            <div class="card-trip-infos">
                            <h5 style="color: #2B3467"><strong>For: €<%= @listing.price %> / night</strong></h5>
                            </div>
                      </div>

                      <div class="offers">
                        <br>
                        <h3>Amenities:</h3>
                        <% if @kit = true %>
                        <p><i class="fa-solid fa-kitchen-set"></i>"-Kitchen"</p>
                        <% end %>
                        <% if %>
                        <p><i class="fa-solid fa-bath"></i>-Private Bathroom</p>
                        <% end %>
                        <% if @laud = true %>
                        <p><i class="fa-solid fa-shirt"></i>-Washer/Dryer</p>
                        <% end %>
                        <p><i class="fa-solid fa-wifi"></i>-Wifi </p>
                        <p><i class="fa-solid fa-tv"></i>-TV</p>
                      </div>

                      <div class="d-flex justify-content-between">
                            <div class="arrival">
                                  <p><i class="fa-solid fa-door-closed"></i> <strong>Self check-in</strong><br>
                                  You can check in with the doorman.</p>
                                  <p><i class="fa-solid fa-car"></i> <strong>Drive Right Up</strong><br>
                                  You can park your vechile in the private driveway</p>
                                  <p><i class="fa-regular fa-star"></i> <strong>Experienced host</strong><br>
                                  Novasol has 24 reviews from other guests.</p><br>
                                  <p>- Free parking on site<br>
                                  - Not suitable for youth groups<br>
                                  - Optional: Bedlinen incl towels<br><br>
                                  No pets allowed
                                  </p>
                            </div>
                      </div>
                </div>
          </div>

        <div class="container-tablet" style=" width: 40%; margin-top: 3px">
          <div class="p-2" style="border:1px solid #2B3467; max-height: 300px; overflow:scroll; border-radius: 12px">
                      <div class="d-flex justify-content-between">
                            <div class="arrival">
                                  <h3 class="card--title">Commute Options To Campus</h3>
                                  <p><i class="fa-solid fa-person-walking" style="color: #2B3467"></i> <strong style="margin-left: 10px; color: #2B3467">Walking</strong><br>
                                  Walk Time:: <%=@walking%></p>
                                <p><i class="fa-solid fa-bicycle" style="color: #2B3467"></i> <strong style="margin-left: 5px; color: #2B3467">Biking</strong><br>
                                  Ride Time :: <%=@biking%></p>
                                  <p><i class="fa-solid fa-car" style="color: #2B3467"></i> <strong style="margin-left: 5px; color: #2B3467">Driving</strong><br>
                                  Drive Time :: <%=@driving%></p>
                                  <p><i class="fa-solid fa-train" style="color: #2B3467"></i> <strong style="margin-left: 5px; color: #2B3467">Train</strong><br>
                                  From <%=@station_depart_name%> To <%=@station_arrive_name%> For €<%=(@trip_price/100).to_f%></p>
                            </div>
                      </div>
            </div>
        </div>

      <div class="container-tablet" style=" width: 40%; margin-top: 3px">
          <div class="p-2" style="border:1px solid #2B3467; max-height: 300px; overflow:scroll; border-radius: 12px">
              <%= render "bookings/new", listing: @listing%><br>
              <div class="buttons-container ">
              </div>
            </div>
        </div>
    </div>



    <div class="d-flex p-0 m-0 mb-5">
      <div class="container-tablet" style=" width: 100%; margin-top: 1rem">
        <div class="p-2" style="border:1px solid #2B3467; max-height: 300px; overflow:scroll; border-radius: 12px">
          <%= render "shared/reviewavatar", listing: @listing %><br>
        </div>
      </div>
    </div>

    <div>
      <% @listing.reviews.each do |review| %>
        <div class='main--card--review display--none' data-id='<%= review.id %>' style="width: 761px; height: 616px">
          <p class='review--close--button'>Close</p>
          <span>Details:</span>  <p><%= review.content %></p>
          <span>Rating:</span> <p><%= review.rating %> Stars</p>
          <span>Preferred transportation:</span>  <p><%= review.transport %></p>
          <span>Preferred place for grocery shopping:</span>  <p><%= review.groceries %></p>
          <span>Favorite restaurants:</span>  <p><%= review.restaurant %></p>
          <span>Activities to do in the area:</span>  <p><%= review.activities %></p>
          <span>Additional tips:</span>  <p><%= review.tips %></p>
        </div>

      <% end %>
    </div>

  </div>
</div>

<div class='background-fader display--none'>
</div>

<script>
  const reviews = document.querySelectorAll('.review--line')
  const modals = document.querySelectorAll('.main--card--review')
  const closeBtns = document.querySelectorAll('.review--close--button')
  const backFader = document.querySelector('.background-fader')
  reviews.forEach(review => {
    review.addEventListener('click', () => {
      modals.forEach(modal => {
        if (modal.dataset.id === review.dataset.id) {
          modal.classList.toggle('display--none')
          backFader.classList.toggle('display--none')
          closeBtns.forEach((closeBtn) => {
            closeBtn.addEventListener('click', () => {
              modal.classList.add('display--none')
              backFader.classList.add('display--none')
              });
          })
        }
      });
    })
  });

</script>
