<div class="container pt-5 mt-4 mb-4">

<h3><strong>Help a future Le Wagon student.</strong></h3>
<h3><strong>Submit a review on your stay and personal experiences:</strong></h3>
<p></p>
<%= simple_form_for [booking, @review] do |f| %>

  <%= f.input :transport, label: "Transportation", input_html: { rows: 4 } %>

  <%= f.input :groceries, label: "Groceries", input_html: { rows: 4 }%>

  <%= f.input :activities, label: "Activities", input_html: { rows: 4 } %>

  <%= f.input :restaurant, label: "Favorite Restaurants/Bars" %>

  <%= f.input :tips, label: "Tips", input_html: { rows: 4 } %>

  <%= f.input :content, label: "Your review", input_html: { rows: 6 } %>

  <%= f.input :rating, label: "Rating", collection: 1..5 %>

  <%= f.submit "Submit", class: "btn-flat" %>
<% end %>
</div>
