<h2 class='bookings--header'><strong>My Dashboard</strong></h2>
<div class="container d-flex justify-content-between w-100">
<div class='bookings--container'>
  <h3 class='bookings-subheader'><strong>Bookings<strong></h3>
  <% @bookings.each do |booking| %>
    <div class='booking--card'>
      <%= render 'shared/card', listing: booking.listing %>
      <div class='booking--card--rightside'>
        <div class='booking--details'>
          <p> <strong>City: </strong>  <%= booking.listing.city %> </p>
          <p> <strong>Check-in: </strong><%= booking.start_date %> </p>
          <p> <strong>Check-out: </strong><%= booking.end_date %></p>
          <p> <strong>Address: </strong><%= booking.listing.address %></p>
        </div>
        <div class='bookings-buttons'>
          <button type="button" class="btn-review" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Leave a review
          </button>
          <%# <a class="btn" action='bookings#destroy' id='btn--delete' href="#">Delete Booking</a> %>
          <%= link_to 'Delete Booking', booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn", id: 'btn--delete' %>
        </div>
      </div>
    </div>

      <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <%= render "review_form", booking: booking, review: @review %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-ghost" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
<div class="chatbox border rounded">
<%= render "chatrooms/show" %>
</div>
</div>
