<div class="">
  <div class="card-trip m-1">
    <div class = "card-image">
      <img src="<%= listing.image %>" style="width: 240px; height: 180px" />
    </div>
      <div class="card-trip-infos">
          <h3 class="card--title">
        <% if listing.description.length > 18 %>
          <%= listing.description[0...18] %>...
          <% else %>
          <%= listing.description %>
          <% end %>
          </h3>
          <p>
          <% if listing.description.length > 90 %>
          <%= listing.description[0...90] %>...
          <% else %>
          <%= listing.description %>
          <% end %>
          </p>
      </div>
      <div class="card-trip-pricing">
        <h3>€<%= listing.price %></h3>
      </div>
  </div>
</div>
