<div class="card">
  <div class="card-trip">
    <div class = "card-image">
      <img src="<%= listing.image %>" style="width: 240px; height: 180px" />
    </div>
      <div class="card-trip-infos">
          <h3 class="card--title">
        <% if listing.description.length > 18 %>
          <%= listing.description[0...18] %>...
          <% else %>
          <%= listing.description %>
          <% end %>
          </h3>
          <p>
          <% if listing.description.length > 90 %>
          <%= listing.description[0...90] %>...
          <% else %>
          <%= listing.description %>
          <% end %>
          </p>
      </div>
      <div class="card-trip-pricing">
        <% if listing.avg_rating.nil? %>
          <h3>€<%= listing.price %> | <%='★' * [3,4,5].sample %> </h3>
        <% else %>
          <h3>€<%= listing.price %> | <%='★' * listing.avg_rating %> </h3>
        <% end %>
      </div>
  </div>
</div>
