<%= render "shared/hero"%>
<%= render "shared/circle"%>
<%= render "shared/datepicker"%>

<div class='home-container'>

    <div class='grid-home'>
        <% @listings.in_groups_of(2, false) do |group| %>
          <% group.each do |listing| %>
            <div class='col'>
              <%= link_to listing_path(listing), class: "no-decoration" do %>
                <%= render "shared/card", listing: listing %>
              <% end %>
            </div>
          <% end %>
        <% end %>
    </div>

</div>
