<div data-controller="homepage">

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path("amsterdam1.png") %>');">
  <div class="container circle-box text-center button-center">
    <h1>Find the perfect accommodation</h1>
    <p>Based on previous students reviews.</p>
    <p class="btn btn-flat" data-action="click->homepage#display" >Find a place now</p>
  </div>
</div>

  <%= render "shared/circle"%>
  <br>
  <div data-homepage-target="griddisplay" class='d-none'>
    <div class="center_info">
    <br>
      <%= render "shared/datepicker"%>
      <h2>Your perfect place is waiting for you</h2>
    </div>

    <div class='home-container'>
        <div class='grid-home'>
            <% @listings.in_groups_of(2, false) do |group| %>
              <% group.each do |listing| %>
                <div class='col'>
                  <%= link_to listing_path(listing), class: "no-decoration" do %>
                    <%= render "shared/card", listing: listing %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
        </div>
    </div>
  </div>
</div>
