
<%# <%= render "shared/carousel"%>
<%# <%= render "shared/circle"%>

<div class ="container">

    <div class='d-flex'>
    <%= render "shared/card", listing: @listing %>
    <%= render "shared/card", listing: @listing %>
    <%= render "shared/card", listing: @listing %>
    <%= render "shared/card", listing: @listing %>
    </div>
</div>
<%# <table>
  <thead>
  </thead>
  <tbody>
  <tr>fgfg</tr>
  <tr>gege</tr>

  </tbody>
</table> %>
